@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333;
}

table caption, .instructor .header, .student .header {
    background-color: #2D78B9;
}

#nav-secondary li.active a:link, #nav-secondary li.active a:visited, #nav-secondary li.active a:hover, #nav-secondary li.active a:active, #nav-secondary li.active .nav-section, #nav-secondary li.active li a, #nav-secondary li.active li a:link, #nav-secondary li.active li a:visited {
    color: #1B409C;
}

a, a:link, a:visited, #footer a, #footer a:link, #footer a:visited {
    color: #2D78B9;
}

#nav-secondary {
    border-top-color: #DDD;
}

#nav-secondary li {
    border-bottom-color: #DDD;
}

.instructor-table thead tr, .instructor-table-nohover thead tr, .instructor-table tbody tr.row-odd, .instructor-table-nohover tbody tr.row-odd {
    background-color: #F5F4F1;
}

.instructor-table tbody tr.row-odd:hover, .instructor-table-nohover tbody tr.row-odd:hover {
    background: #E6E6FA;
    cursor: pointer;
}

input, .EnableBatchEditing {
    margin: 2px;
    padding: 2px;
}