#utility {
    width: 100%;
    position: initial;
    padding: 0;
    background: none;
    margin-bottom: 2em;;
}

#nav-secondary {
    display: table;
    margin: 0 auto;
}

#nav-secondary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-secondary li {
    border: 0;
    background: none;
}

#nav-secondary li.active {
    float: left;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    margin: 0 8px;
}

#nav-secondary li.active a:link,
#nav-secondary li.active span,
#nav-secondary li.active a:visited,
#nav-secondary li.active .nav-section {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #0366d6;
    cursor: pointer;
}

#nav-secondary li.active a:link:hover,
#nav-secondary .dropdown-content a:hover {
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
}

#nav-secondary li.dropdown {
    display: inline-block;
}

#nav-secondary .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 1;
}

#nav-secondary .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav-secondary .dropdown:hover .dropdown-content {
    display: block;
}

#nav-secondary a,
#nav-secondary .nav-section,
#nav-secondary a:hover,
#nav-secondary li.active li a,
#nav-secondary li.active li a:link,
#nav-secondary li.active li a:visited {
    background: none;
}

#nav-secondary li .dropdown-content li {
    float: none;
}

#nav-secondary li.active li a,
#nav-secondary li.active li a:link {
    width: auto;
    padding: 1em;
    color: #0366d6;
    border-bottom: 1px solid #cfd8dc;
}

#content {
    margin: 0px;
}

body {
    padding: 20px;
}
