.tagCount 
{
  color: #595959; font-size: .8em;
}

.tagCloud
{
  font-size: 16px;
}

.tagCloud1
{
  font-size: 18px;
}

.tagCloud2
{
  font-size: 20px;
}

.tagCloud3
{
  font-size: 24px;
}


.tagCloud-1
{
  font-size: 14px;
}

.tagCloud-2
{
  font-size: 12px;
}

.tagCloud-3
{
  font-size: 11px;
}